$color-negative: #fdfffc;
$color-react: #282c34;
$unit: 3px;
$unit2: $unit * pow(2, 1);
$unit3: $unit * pow(2, 2);
$unit4: $unit * pow(2, 3);
$unit5: $unit * pow(2, 4);

@mixin btn {
  padding: $unit2 $unit3;
  background: $color-negative;
  border-radius: $unit;
  border: 1px outset #bababa;
}
