.presets-list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.preset-item {
  width: 24%;
  min-width: 200px;
  max-width: 250px;
  display: flex;
  margin: 0 $unit;
}

.preset-button {
  @include btn;
  width: 100%;
}
