body {
  background: #fdfffc;
  color: #282c34;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 6px 24px;
  flex: 1;
}

.header {
  background: #282c34;
  color: #fdfffc;
  padding: 6px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  max-height: 30px;
}
.header__btn {
  background: none;
  border: none;
  color: #fdfffc;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.header__btn:hover {
  border-bottom: 2px solid #fdfffc;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__logo {
  max-width: 450px;
}
.home p {
  margin-top: 48px;
}

.presets-list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.preset-item {
  width: 24%;
  min-width: 200px;
  max-width: 250px;
}

.preset-button {
  padding: 6px 12px;
  background: #fdfffc;
  border-radius: 3px;
  border: 1px outset #d8d8d8 #d1d1d1 #bababa;
  width: 100%;
}

.color-palette {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.color {
  width: 100px;
  max-width: 100px;
  height: 50px;
  max-height: 50px;
  padding: 6px;
  border-radius: 3px;
  margin: 3px;
  display: flex;
}
.color__name {
  font-size: 70%;
}

.current-action {
  font-weight: bold;
  text-align: center;
}

.distribute h1 {
  text-align: center;
}

.distribute-nav {
  text-align: center;
}
.distribute-nav__button {
  padding: 6px 12px;
  background: #fdfffc;
  border-radius: 3px;
  border: 1px outset #d8d8d8 #d1d1d1 #bababa;
  padding: 6px 12px;
  min-width: 150px;
  border-radius: 0;
}
.distribute-nav__button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.distribute-nav__button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  display: flex;
}
.progress-bar .bar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70%;
  transition: width ease-in-out;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar .bar:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.progress-bar .bar:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.boxes {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  padding: 12px 6px;
  margin: 3px;
  cursor: pointer;
}
.box--1 {
  width: calc(100% / 1 - 24px);
}
.box--2 {
  width: calc(100% / 2 - 24px);
}
.box--3 {
  width: calc(100% / 3 - 24px);
}
.box--4 {
  width: calc(100% / 4 - 24px);
}
.box--5 {
  width: calc(100% / 5 - 24px);
}
.box__key {
  border: 1px solid #ffffff;
  border-radius: 3px;
  padding: 3px 6px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.5);
}
.box__name {
  text-transform: uppercase;
  font-weight: bold;
  margin: 12px 0;
}
.box__duration {
  font-size: 80%;
}

.log {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #dddfe4;
  padding: 6px;
  border-radius: 3px;
  list-style: none;
}

.pill {
  padding: 3px;
  border-radius: 24px;
  margin: 0 3px 3px;
}
.pill__label {
  font-size: 80%;
  text-transform: uppercase;
  margin: 0 3px;
}
.pill__timestamp {
  font-size: 80%;
  text-transform: lowercase;
}
.pill__icon {
  width: 16px;
  height: 16px;
  background: white;
  border: none;
  border-radius: 24px;
  margin: 0 3px;
  text-align: center;
}
.pill__icon--button {
  cursor: pointer;
  background: white;
}
.pill__icon--button:hover {
  transform: scale(1.3);
}
.pill__icon--category {
  display: inline-block;
  background: rgba(255, 255, 255, 0.7);
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-widget {
  background: #fdfffc;
  min-width: 300px;
  padding: 24px;
  text-align: center;
}
.edit-widget h3 {
  margin-top: 0;
  text-align: center;
}
.edit-widget__buttons {
  margin-top: 24px;
}
.edit-widget__button {
  padding: 6px 12px;
  background: #fdfffc;
  border-radius: 3px;
  border: 1px outset #d8d8d8 #d1d1d1 #bababa;
  width: 50%;
  max-width: 120px;
}
.edit-widget label {
  display: block;
  text-align: left;
  font-size: 80%;
  margin: 12px 0 6px 0;
}
.edit-widget select,
.edit-widget input {
  display: block;
  width: 100%;
  max-width: 200px;
}

.pill-demo {
  display: flex;
  margin: 24px auto;
  width: 100%;
  max-width: 200px;
  border-radius: 24px;
  padding: 6px;
}
.pill-demo__category-icon {
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fdfffc;
  border-radius: 50%;
}
.pill-demo__category-icon > svg {
  transform: none !important;
}
.pill-demo__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-18.5px);
}
.pill-demo__name {
  font-weight: bold;
}
.pill-demo__timestamp {
  font-size: 80%;
}
